/* region Variables */
$pColor: dodgerblue;
$sColor: deepskyblue;
$tColor: rgb(64, 64, 64);
$currPalette: "main";

// Sass map at different palettes
$palettes: (
    "main": (
        "primary": $pColor,
        "secondary": $sColor,
        "background": white,
        "text": $tColor,
        "primaryText": $tColor,
        "secondaryText": $sColor,
    ),
    "light": (
        "primary": lighten($pColor, 20),
        "secondary": lighten($sColor, 30),
        "background": white,
        "text": $sColor,
        "primaryText": $tColor,
        "secondaryText": $sColor,
    ),
    "dark": (
        "primary": darken($pColor, 10),
        "secondary": $sColor,
        "background": darken($pColor, 50),
        "text": $sColor,
        "primaryText": $tColor,
        "secondaryText": $sColor,
    ),
);
/* endregion */

/*#region Mixins */
@mixin common($palette: $currPalette) {
    @debug $palette;
    $primary: lighten(blueviolet, 10) !default;
    $secondary: map-get(map-get($palettes, $palette), "secondary") !default;
    $background: map-get(map-get($palettes, $palette), "background") !default;
    $text: map-get(map-get($palettes, $palette), "text") !default;

    border: 1px solid $secondary;
    background-color: $background;
    color: $text;

    @content;
}
/*#endregion */

/*#region Styles */
div[class^="Widget"] {
    box-sizing: border-box;

    z-index: 1;
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 15rem;

    border-radius: 6px;

    @include common($currPalette);

    &[class$="--idle"] {
        $currPalette: "light" !default;
    }

    &[class$="--loading"] {
        $currPalette: "dark" !default;
    }

    & > * {
        &[class*="Header"] {
            box-sizing: border-box;

            display: flex;
            align-items: center;

            padding: 0.5rem;

            min-height: 2rem;

            border-bottom: inherit;

            font-weight: bold;
        }

        &[class$="Body"] {
            box-sizing: border-box;

            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;

            gap: 0.5rem;

            padding: 0.5rem;

            min-height: 12rem;

            & > [class$="Spinner"] {
                z-index: 5;

                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                bottom: 0.5rem;
                left: 0.5rem;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 6px;

                & .Spinner-Text {
                    @keyframes fontsize {
                        0% {
                            font-size: 1.6rem;
                        }
                        50% {
                            font-size: 1.4rem;
                        }
                        100% {
                            font-size: 1.6rem;
                        }
                    }

                    animation: fontsize 3s ease infinite;
                }
            }

            // Palette Test
            & > .test {
                flex: 1 1 auto;

                border-radius: 6px;

                &-main {
                    @extend .test;
                    @include common();
                }

                &-light {
                    @extend .test;
                    @include common("light");
                }

                &-dark {
                    @extend .test;
                    @include common("dark");
                }
            }
        }

        &[class$="Footer"] {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            padding: 0.5rem;

            border-top: inherit;

            color: inherit;

            & > .ActionButton {
                box-sizing: border-box;

                display: flex;
                justify-content: center;
                align-items: center;

                flex: 1 0 4rem;
                height: 2rem;

                border-radius: 6px;
                border: 1px solid $sColor;
                
                color: inherit;

                // background-color: $dark;

                // Make inner text non-highlightable
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */

                transition: border 0.3s, background-color 0.1s, color 0.1s;

                // While mouse over element and the element is not active
                &:hover:not(:active) {
                    cursor: pointer;
                }

                // While mouse held down
                &:active {
                    
                }
            }
        }
    }
}
/*#endregion */
