@use "sass:map";

$breakpoints: (
  "min": 240px,
  "xs": 480px,
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
  "xl": 1920px,
  "max": 100%,
);

@mixin breakpoint($bpUp: "max", $bpDown: "min") {
  $down: map-get($breakpoints, $bpDown);
  $up: map-get($breakpoints, $bpUp);

  @media (min-width: $down) and (max-width: $up) {
    @content;
  }
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: 1rem;
  padding: 1rem;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgb(253, 253, 253);

  overflow: hidden;

  &-Responsive {
    grid-area: responsive;

    @include flexbox();

    @include breakpoint("lg") {
    }

    @include breakpoint("md") {
      @include flexbox(column);
    }

    @include breakpoint("sm") {
      display: none;
    }
  }

  & > .Layout {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}
